# Dependency directories
node_modules/

# Coverage directory
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# build / generate output
dist

# Logs
logs
*.log
access.log
